.mainbody {
  margin: 0;
  background-image: url('/public/images/portrait_disco_woman.png'), linear-gradient(110deg, rgb(6, 14, 75) 0%, rgb(7, 19, 89) 40%, rgba(7, 23, 105, 0.35) 70%, rgba(0, 0, 255, 0.8) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  height: 90vh;
  width: 100%;

  
}

.mainbody h2 {
  margin: 0;
  height: 100%;
}

.searchBar {
  display: flex;
  position: relative;
  align-items: center;
  /* justify-content: center; */
  margin-top: 20px;
  color: var(--color-text-light);
}

.searchBar input {
  background-color: transparent;
  border: none;
  border-radius: 15px;
  width: 100%;
  padding: 0.4em;
  color:  var(--color-text-gray);
}

.searchBar input::placeholder {
  opacity: 1;
  color: var(--color-text-gray);
}

.track-list-container h2 {
  color: white;
  font-size: 20px;
}